<p>Current Documents</p>

<div *ngIf="documentList">
    <div *ngFor="let data of documentList" class="document">
        <span>{{data.id}}</span>
        <div [style.max-height.px]="200" [innerHtml]=data.document></div>
        <span>Created: {{data.date}}</span>
        <a [routerLink]="['/products']" [queryParams]="{ order: 'popular'}"></a>
        <button class="btn btn-default"> <a [routerLink]="['/document']" [queryParams] ="{id:data.id}">Edit Document</a> </button>
    </div>
</div>

<button class="btn btn-primary to-bottom-right" ><a [routerLink]="['/document']">Create Document</a></button>